<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :surname %>
  <%= f.text_field :surname, class: 'form-control' %>
</div>

<% if @fields.present? %>
    <% @fields.keys.each do |key| %>
        <div class="form-group">
          <div class="form-group">
            <label for="person_<%= key %>"><%= @fields[key]['name'] %></label>
            <input class="form-control" type="<%= @fields[key]['type'] %>" name="person[<%= key %>]" value="<%= @person.metadata[key] %>" id="person_<%= key %>">
          </div>
        </div>
    <% end %>
<% end %>