<%= render 'shared/user_link'%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      Person Add
    </h3>
  </div>
  <div class="panel-body">

    <%= form_for @person, url: user_people_path(@user) do |f| %>
        <%= render 'field_errors'%>

        <%= render 'common_fields', f: f %>

        <div class="form-group">
          <%= f.submit class: 'btn btn-primary'%>
          <%= link_to 'Back', :back, class: 'btn btn-default'%>
        </div>
    <% end %>
  </div>
</div>

