<%= render 'shared/user_link'%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      <%= @resource.camelize %>
      Field Add
    </h3>
  </div>
  <div class="panel-body">

    <%= form_for @field, url: create_user_fields_path(@user, @resource) do |f| %>
        <%= render 'field_errors'%>

        <div class="form-group">
          <%= f.label :key %>
          <%= f.text_field :key, class: 'form-control' %>
        </div>

        <%= render 'common_fields', f: f %>

        <div class="form-group">
          <%= f.submit class: 'btn btn-primary'%>
          <%= link_to 'Back', :back, class: 'btn btn-default'%>
        </div>
    <% end %>
  </div>
</div>

